* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Inter", sans-serif;
}
.herosection {
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
  /*linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);*/
  /*linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);*/
  /*linear-gradient(to right, #2A7B9B, #57C785, #EDDD53);*/
}
/*linear-gradient(90deg, #efd5ff 0%, #515ada 70%, rgba(0, 0, 0, 0.4) 100%);*/
.card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin: auto;
}
.intro h1 {
  font-size: 30px;
  font-weight: 700;
}
/* Footer */
.footer {
  height: 100px;  
  text-align: center;
  padding: 2rem 0;
  background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);
  color: #f1f1f1;
}
.highlight {
  color: #f39c12;
}
.nav-menu ul li a{
  font-size: 21px;
  font-weight: 500;
}
.nav-head {
  background-color: transparent;
  top: 0;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}
.about-paragraph{
    font-size: 22px;
    line-height: 1.5;
}
.skill-paragraph{
    font-size: 20px;
}
.form-input{
    font-size: 20px;
    font-weight: 400;
}


